html, body {
    color-scheme: dark;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lavender;
    background-color: rgb(63,63,63);
    padding: 0.5em;
}

#data * {
    margin: 0;
}

button {
    line-height: 1.5;
    background-color: rgb(43,43,43);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    
    color: lavender;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 3px 10px;
    
    cursor:pointer;
    /*display: block;*/
    margin: 1em;
    
    transition: all 0.1s ease-out;
}

button:hover {
    font-weight: bold;
    background-color: rgb(63,63,63);
    border-width: 2px;
}

#results {
    background-color: rgb(43,43,43);
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

button:active {
    background-color: rgb(93, 93, 93);
}

.post {
    padding: 1em;
    margin: 1.5em 0 !important;
    background-color: rgb(43, 43, 43);
    border: 1px solid lavender;
    box-shadow: 0 0 10px lavender, 0 0 10px black inset;
    border-radius: 12px;
}

.profile {
    padding: 1em;
    margin: 1.5em 0 !important;
    background-color: rgb(43, 43, 43);
    border: 1px solid lavender;
    box-shadow: 0 0 10px lavender, 0 0 10px black inset;
    border-radius: 12px;
    
    max-width:fit-content;
    display:flex;
    flex-direction: row;
}

.profileRect {
    min-height: max-content;
    width: 82px;
    margin-right: 10px !important;
    background-color: rgb(63,63,63);
    border: 1px solid grey;
    border-radius: 4px; 
}