html, body {
    color-scheme: dark;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lavender;
    background-color: rgb(63,63,63);
    padding: 0.5em;
}

button {
    line-height: 1.5;
    background-color: rgb(43,43,43);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    
    color: lavender;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 3px 10px;
    
    cursor:pointer;
    /*display: block;*/
    margin: 1em;
    
    transition: all 0.1s ease-out;
}

button:hover {
    font-weight: bold;
    background-color: rgb(63,63,63);
    border-width: 2px;
}

button:active {
    background-color: rgb(93, 93, 93);
}